/* all app scss styles here */

$arrow-up: "#{$screen} and (min-width:#{lower-bound(79.375em)})" !default;

.section {
	h2, h3 {
		text-transform: uppercase;
	}
	h2 {
		margin-bottom: 1em;
		border-bottom: 3px solid #fff;
		padding-bottom: .3em;
		text-align: center;
		display: inline-block;
	}
	&.head {
		background: #2E2E2E;
		.logo {
			margin-top: 3em;
			margin-bottom: 2em;
		}
		.imprint {
			margin-top: 2em;
			margin-bottom: 4em;
			h1 {
				line-height: 1em;
				margin: 0;
				font-family: $body-font-family;
			}
		}
	}
	&.about-me {
		.subhead {
			h2 {
				padding-right: 20%;
				margin-right: -20%;
			}

			img {
				display: block;
				margin: 0 auto;
			}

			@media #{$medium-up} {
				img {
					margin-left: -187px;
					margin-right: 20px;
					display: inline-block;
				}
			}

			margin-bottom: 3em;
		}
		padding-top: 4em;
		padding-bottom: 9em;
		background: url('../images/bg/stopper.png') center 90% no-repeat #292929;
	}
	&.price {
		padding-top: 4em;
		background-color: #262626;
		h2 {
			padding-left: 25%;
			margin-left: -25%;
		}
		h3 {
			margin-bottom: 1em;
		}
		.carousel-container {
			position: relative;

			a.left-arrow {display: none;}
			a.right-arrow {display: none;}

			@media #{$arrow-up} {
					a.left-arrow {
					display: block;
					position: absolute;
					top: 50%;
					left: -150px;
					width: 85px;
					height: 85px;
					margin-top: 85px/2 * -1;
					background: url('../images/arrow-left.png') top center;
					&:hover {
						background-position: bottom;
					}
				}
				a.right-arrow {
					display: block;
					position: absolute;
					top: 50%;
					right: -150px;
					width: 85px;
					height: 85px;
					margin-top: 85px/2 * -1;
					background: url('../images/arrow-right.png') top center;
					&:hover {
						background-position: bottom;
					}
				}
			}
		}
		table {
			width: 100%;
			h4 {
				font-size: rem-calc(14);
				font-weight: bold;
				font-family: $body-font-family;
				margin: 0;
			}
			p {
				font-size: rem-calc(14)
			}
			ul {
				font-size: rem-calc(14);
				margin-top: -1.5em;
			}
			tr > td:last-child {
				width: 25%;
				text-align: right;
				font-weight: 800;
				vertical-align: top;
			}
		}
	}
	&.contact {
		padding-top: 9em;
		background: url('../images/bg/stopper.png') center 7% no-repeat;
		padding-bottom: 10em;
		h2 {
			padding-left: 50%;
			margin-left: -50%;
		}
		form {
			font-weight: bold;
			input, textarea {
				border-radius: $global-radius;
			}
			.btn {
				background: #505050; /* Old browsers */
				background: -moz-linear-gradient(top, #505050 0%, #414141 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #505050), color-stop(100%, #414141)); /* Chrome, Safari4+ */
				background: -webkit-linear-gradient(top, #505050 0%, #414141 100%); /* Chrome10+, Safari5.1+ */
				background: -o-linear-gradient(top, #505050 0%, #414141 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #505050 0%, #414141 100%); /* IE10+ */
				background: linear-gradient(to bottom, #505050 0%, #414141 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#414141', GradientType=0 ); /* IE6-9 */
				padding: .6em 3em;
				border: 0;
			}
		}

		#map_canvas {
			width: 90%;
			border-radius: 400px;
			margin: 0 auto;
			border: 15px solid #3A3B3D;
			margin-top: 2em;

			@media #{$medium-up} {
				margin-top: 0;
			}
		}
	}
  
  &.imprint {
	margin-top: 4em;

	h2 {
	  padding-left: 25%;
	  margin-left: -25%;
	}
  }
}
footer {
	padding: 5em 0;
	background: #262626;
}

.form__gpdr {
	border: 1px solid rgb(87, 87, 87);

	input[type="checkbox"] {
		display: inline;
		margin: 0;
	}

	input[type="checkbox"] + label {
		display: inline;
		color: #aaa;
	}
}